conda
awscli
click
matplotlib
jupyter
notebook
Sphinx
flake8
toolz
scikit-image
pandas
google-cloud-storage
google-api-python-client
oauth2client
tensorflow-gpu
httplib2
dask
Cython
pytest
pytest-pythonpath
yapf
spyder
jupyterlab
